/* ================================
   GLOBAL
================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", Arial, sans-serif;
  background: linear-gradient(135deg, #000, #303030);
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
}


/* ================================
   FOOTER
================================ */
footer {
  text-align: center;
  color: #fff;
  padding: 16px;
  font-size: 14px;
  margin-top: 25px;
  opacity: 0.7;
}

/* ===== FORM GENERAL STYLING ===== */
main {
    width: 100%;
  padding: 30px 20px;
  transition: margin 0.45s ease;  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title */
main h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;

}
.logo span {
  background: linear-gradient(130deg, #ffae00, #fff700);
  background-clip: text;
  color: transparent;
}

/* Form Container */
form {
  width: 100%;
  max-width: 600px;
  margin-top: 22px;
  background: #111;
  padding: 25px 30px;
  border-radius: 12px;
  border: 1px solid #2f2f2f;
}

/* Labels */
form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 6px;
  font-weight: 500;
}

/* Inputs */
form input, form textarea {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 17px;
  border-radius: 8px;
  border: 1px solid #555;
  background: #222;
  color: #fff;
  font-size: 0.95rem;
  transition: border 0.3s, box-shadow 0.3s;
}

form input:focus {
  border-color: #ffe600;
  outline: none;
}

/* Fieldset */
fieldset {
  border: 1px solid rgba(255, 230, 0, 0.4);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 18px;
}

legend {
  padding: 0 10px;
  color: #ffe600;
  font-weight: 500;
  font-size: 1.2rem;
}
/* Textarea settings */
#propertyForm textarea {
  resize: vertical;
  min-height: 90px;
}
/* Submit Button */
button {
  width: 100%;
  margin: 10px auto;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  background: linear-gradient(90deg, #ffe600, #ffad00);
  cursor: pointer;
  color: #000;
  transition: transform 0.25s, background 0.5s;
}

button:hover {
      background: linear-gradient(90deg, #ffad00, #ffe600);
  transform: translateY(-2px);
}

/* Mobile */
@media (max-width: 800px) {
  main {
    padding-top: 70px;
  }
  form {
    padding: 20px;
  }
}

form a {
  color: #87ceeb;
}
form a:hover {
  color: #87cfebb3;
}
form a:active {
    color: #87cfeb43;

}